#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* STYLES FOR CHAT EXERCISE */


.chat {
    border: 1px solid gray;
    margin: 1rem 2rem;
    padding: 1rem;

    text-align: center;

}

.message-view, .message-input{
    border-top:  1px solid gray;
}

.message-view p {
    cursor: pointer;
}

.message-view p:hover{
    background-color: tomato;
}